<!-- Footer section -->
{% if page.permalink == '/' and site.data.curtana.clean_homepage %}
{% else %}
  <footer class="footer">
    <ul>
      <li><a href="https://leancloud.cn/?ref=leancloud.rocks">leancloud.cn</a></li>
      <li><a href="https://leancloud.cn/help.html?ref=leancloud.rocks">Need Help?</a></li>
      <li><a href="https://status.leancloud.cn/?ref=leancloud.rocks">System Status</a></li>
      <li><a href="https://blog.leancloud.cn/?ref=leancloud.rocks">Blog</a></li>

      {% if site.credits %}
        <li><a href="http://sparanoid.com/lab/amsf/" title="Almace Scaffolding">AMSF</a></li>
        <li><a href="{{ site.data.curtana.meta.url }}" title="{{ site.data.curtana.meta.name }}">{{ site.data.curtana.meta.name }}</a></li>
      {% endif %}

      {% if site.data.curtana.subscription %}
        <li><a href="{{ '/email-signup' | prepend: site.base }}/">Email</a></li>
      {% endif %}
    </ul>
  </footer>
{% endif %}

<!-- The following code is an example use of including external JavaScript libraries -->
{% if page.plugin == 'intense' %}
  <script src="{{ '/js/intense.js' | prepend: amsf_theme_assets }}"></script>
  <script>
    window.onload = function() {
      var fx = document.querySelectorAll('p > img:not(.no-intense)');
      var el = document.body;
      var cl = 'loaded'

      if (el.classList)
        el.classList.add(cl);
      else
        el.className += ' ' + cl;

      Intense(fx);
    }
  </script>
{% endif %}

<!-- Theme scripts -->
<script src="{{ '/js/app.js?assets-inline' | prepend: amsf_theme_assets }}"></script>

<!-- User custom scripts -->
<script src="{{ '/js/user.js?assets-inline' | prepend: amsf_user_assets }}"></script>

<!-- Google Analytics tracking code -->
{{ amsf_google_analytics }}

<!-- Foot hooks -->
{% if page.foot %}
  {{ page.foot }}
{% endif %}
